@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div class="container">
        <img src="~/Imagen/LogoGrande.jpg" />
    </div>
    <p class="lead">Visita nuestro Periodico en Linea</p>
</div>
<div class="row">
    <div class="container">
        <div class="col-md-4">
            <h2>Periodico</h2>
            <img src="~/Imagen/Articulos.jpg" width="300" />
            <p>No hay como estar enterado</p>
        </div>
        <div class="col-md-4">
            <h2>Reporteros</h2>
            <img src="~/Imagen/Ropa.jpg" width="300" />
            <p>El mejor equipo de Reporteros</p>
        </div>
        <div class="col-md-4">
            <h2>Noticias en Linea</h2>
            <img src="~/Imagen/Eventos.jpg" width="300" />
            <p>Noticias al momento</p>
        </div>
    </div>
</div>

    

